html,body{
	background:#fff;
	font-size: 100%;
	font-family: 'DidactGothic';
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
@font-face {
    font-family: 'DidactGothic';
    src:url(../fonts/DidactGothic.ttf) format('truetype');
}
@font-face {
    font-family: 'Overlock-Bold';
    src:url(../fonts/Overlock-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel-Bold';
    src:url(../Content/fonts/Cinzel-Bold.ttf) format('truetype');
}

/*--team--*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
/*----*/
.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: 
		inset 0 0 0 0 rgb(125, 115, 118), inset 0 0 0 16px rgba(86, 86, 86, 0.6), 0 1px 2px rgba(0,0,0,0.1);	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
	background-image: url(../Content/images/books-2.png);
}
.ch-img-2 { 
	background-image: url(../Content/images/books-2.png);
}
.ch-img-3 { 
	background-image: url(../Content/images/books-2.png);
}
.ch-img-4 { 
	background-image: url(../Content/images/books-2.png);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);	
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.ch-info h3 {

	text-transform: uppercase;
	position: relative;
	letter-spacing: 3px;
	font-size: 22px;
    
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 100px;
    font-weight:600;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
    font-family: 'Baskerville Old Face';

    color: maroon;
}
.ch-info p {
	
	padding: 7px 5px;
	font-style: italic;
	margin: 0 45px;
	font-size: 19px;
	border-top: 3px solid rgba(255,255,255,0.5);
     color: maroon;
      font-family: 'Baskerville Old Face';
}
.ch-info p a {

	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: oblique;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	
}
.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(201, 169, 116, 0.72), 
		inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}

.team-top h3 {
	font-size: 3em;
    color: #000000;
    margin: 0em 0 0em;
    text-align: center;
    font-family: 'Overlock-Bold';
}
.team{
	padding: 0em 0 5em;
}
.team-top label {
    background: #C9A974;
    min-height: 6px;
    width: 10%;
   
    margin: 1.5em auto;
 
}



/*responsive--*/
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1024px){
.header {
    min-height: 555px;
}
.services-top p,.features-top p,.contact-top p {
    width: 60%;
}	
.f-right ul li a {
    font-size: 0.9em;
}
.arrow {
    width: 90.5%;
}
.content-mid2 {
    padding: 4em 0;
}
.content-bottom {
    padding: 0 0 4em;
}
.features {
    padding: 4em 0;
}
.ch-grid li {
    margin:10px 6px;
}
.team {
    padding: 0em 0 3em;
}
.map {
    margin-top: 4em;
}
}
@media(max-width:768px){
.header {
    min-height: 490px;
}
.grid-top {
    padding: 0 6px;
        float: left;
    width: 33.3%;
}	
.arrow {
    width: 95%;
}
.content-mid3 {
    padding: 0 10px;
}
.content-mid3 h5 {
    font-size: 1.2em;
}
.services-top p, .features-top p, .contact-top p {
    width: 85%;
}
.us-choose {
    padding: 0em 0 0;
}
.why-choose {
    padding-top: 2em;
}
.features-bottom {
    margin-top: 0%;
}
.festure-left {
    padding-top: 2em;
}
.ch-grid li {
    margin: 10px 10px;
}
.contact-para {
    padding-top: 1em;
}
.footer {
    padding: 3em 0;
}
.map {
    margin-top: 3em;
}
.map iframe {
    min-height: 300px;
}
.contact-top {
    padding-bottom: 2em;
}
.content-mid2 {
    padding: 3em 0;
}
.content-bottom {
    padding: 0 0 3em;
}
.gallery-bottom {
    padding: 1em 0 0;
}
.features {
    padding: 3em 0;
}
.gallery-left1 {
    width: 50%;
    float: left;
}
.gallery-left ,.gallery-left2{
    width: 25%;
    float: left;
}
.g-3 ,.g-4{
    float: left;
    width: 50%;
}
.arrow2 {
    right: -16px;
}
}
@media(max-width:640px){
span.menu{
	display:inline-block;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.top-nav ul{
	display: none;
	position:absolute;
	width: 100%;
	z-index: 9999;
	left: 0%;
	margin:1.1em 0em;
	background:rgba(255, 255, 255, 0.98);
	border:0;
}
.top-nav span.menu{
	display: inline-block;
}
.top-nav ul li{
	display: block;
	float:none;
	text-align: center;
}
.top-nav ul li a{
	color:#000;
	display:block;
	margin:0;
	padding:0.4em;
}
.top-nav ul li.active a, .top-nav ul li a:hover {
    border-bottom: 2px solid #000;
}	
.top-grid i {
    font-size: 2em;
    width: 70px;
    height: 70px;
    line-height: 2em;
}	
.arrow {
    width: 93.5%;
}
.arrow2 {
    top: -1px;
    right: -16px;
}
.content-mid h3 {
    font-size: 1.5em;
}
.top-grid h3 {
    font-size: 1.1em;
}
.content-mid3 img{
	margin: 0 auto;
}
.content-mid3 {
	text-align: center;
    margin-bottom: 1em;
}
.content-mid3 p {
    font-size: 1em;
}
.content-mid2 {
    padding: 3em 0 2em;
}
.services-top p, .features-top p, .contact-top p{
	font-size:1em;
}
.ser-top p {
    font-size: 1em;
}
.contact-para p ,.content-mid p{
    font-size: 1em;
}
.header {
    min-height: 410px;
}
.services-top h2 ,.gallery-top h3,.features-top h3,.team-top h3,.contact-top h3{
    font-size: 2.5em;
}
.footer-menu {
    text-align: center;
}
.footer-top1 {
    text-align: center;
    margin-top: 1em;
}
}
@media(max-width:480px){
.logo {
    margin: 1.5em 0;
}
.grid-top {
    float: none;
    width: 65%;
    margin: 0 auto 2em;
}
.arrow2 {
    display: none;
}
.arrow {
    width: 95.5%;
}
.header {
    min-height: 320px;
}
.content-top {
    padding: 22em 0;
}
.content-top1 {
    top: -14.5%;
}
.top-grid {
    padding: 1em 1em;
}
.services-top h2 ,.gallery-top h3,.features-top h3,.team-top h3,.contact-top h3{
    font-size: 2.2em;
}
.services-top p, .features-top p, .contact-top p {
    width: 100%;
}
.ser-grid i {
    padding: 0.5em;
}
.gallery-top label ,.contact-top label,.team-top label,.features-top label,.services-top label{
    width: 18%;
    margin: 1em auto;
}
.f-right {
    width: 50%;
}
.f-left {
    width: 46%;
}
.footer-menu ul li a {
    font-size: 1em;
}
.footer-top2 {
    padding: 2em 0 0;
    margin: 2em 0 0;
}
.footer {
    padding: 2em 0;
}
.map {
    margin-top: 2em;
}
.map iframe {
    min-height: 190px;
}
.team {
    padding: 0em 0 2em;
}
.content-mid2 {
    padding: 2em 0 1em;
}
.content-bottom {
    padding: 0 0 2em;
}
.features {
    padding: 2em 0;
}
}
@media(max-width:320px){
.logo h1 {
    font-size: 2em;
}
.grid-top {
    width: 80%;
    padding: 0;
}
.logo {
    margin: 1em 0;
}
.header {
    min-height: 250px;
}
.content-top1 {
    top: -7.5%;
}
.top-grid i {
    font-size: 1.7em;
    width: 60px;
    height: 60px;
}
.top-grid p {
    line-height: 1.6em;
    font-size: 0.9em;
}
.arrow {
    width: 100%;
}
.content-top {
    padding: 22.5em 0;
}
.content-mid h3 {
    font-size: 1.3em;
}
.content-mid label {
    width: 35%;
    margin: 1em auto;
}
.content-mid2 {
    padding: 1.5em 0 0.5em;
}
.content-mid3 {
    padding: 0;
}
.why-choose {
    padding: 1em 0 0;
}
.ser-grid i {
    padding: 0.4em;
    font-size: 1.5em;
}
.ser-top {
    width: 80%;
}
.ser-top h5 {
    font-size: 1.1em;   
}
.content-bottom {
    padding: 0 0 1.1em;
}
.services-top h2 ,.gallery-top h3,.features-top h3,.team-top h3,.contact-top h3{
    font-size: 1.8em;
}
.gallery-top label, .contact-top label, .team-top label, .features-top label, .services-top label {
    width: 25%;
    margin: 1em auto;
}
.gallery-bottom {
    padding: 0.5em 0 0;
}
.gallery-left1 {
    width: 100%;
    padding: 6px 0;
}
.gallery-left, .gallery-left2 {
    width: 100%;
    float: left;
}
.features {
    padding: 1.5em 0;
}
.festure-left {
    padding: 1em 0 0;
}
.f-left {
    width: 100%;
}
.f-right {
    width: 100%;
    margin-top: 0.5em;
}
.f-right ul li a {
    font-size: 1em;
}
.team {
    padding: 0em 0 1.5em;
}
.contact-form {
    padding: 0;
}
.contact-para {
    padding: 1em 0;
}
.map {
    margin-top: 0em;
}
.map iframe {
    min-height: 110px;
}
.footer-menu,.footer-top1 {
    padding: 0;
}
.footer-top2 {
    padding: 1em 0 0;
    margin: 1em 0 0;
}
span.menu img{
	width: 80%;
}
.top-nav ul li a{
	font-size: 1em;
}
}
body {
    background-image: url(../Content/images/home/map.png);
   
    height: 1000px;
    background-repeat:no-repeat;
    background-size:cover;
}