﻿@model BookHub.Models.Contact
@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/Shared/_MyLayoutAnyPage.cshtml";
}


<link href="~/Content/main.css" rel="stylesheet" />

<div class="contact" id="contact">
    <div class="Container">
        <div class="contact-top">
            <h4>Contact</h4>
            <p>Send us your query, we'll get back to you in a while.</p>
            <hr />
        </div>
        <div class="col-sm-12">



            <div class="col-sm-8 contact-form">
                @using (Html.BeginForm("Create", "Contact", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    
    
        @Html.ValidationSummary(true)

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Send" class="btn btn-default btn-lg" />
            </div>
        </div>
    </div>
}



       

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
            </div>
            <div class="col-sm-4 contact-para">
                <h3>Address</h3>
                <div class="address-more">
             
                    <p>We Are Here...</p>
                    <p><b>BookHub</b></p>
                    <p>Lorem ipsum dolor,</p>
                    <p>Glasglow Dr 40 Fe 72. </p>
                </div>
                
            </div>
        </div>

        <hr/>
    </div>

    <br/> <br/>
  
    <div class="col-sm-12">
        <iframe class="map col-sm-12" style="margin-bottom: 20px; height:auto; max-height: 700px; min-height: 300px;" src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=500&amp;hl=en&amp;q=Noida+(BookHub)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
</div>
<br />
<br/> 
<br />
<hr/>

@*<div style="width: 100%"><iframe height="600" src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Noida+(BookHub)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/medir-distancia-area.html">Medir la distancia entre puntos</a> en <a href="http://www.mapsdirections.info/">www.mapsdirections.info</a></iframe></div><br />*@

