﻿@{
    ViewBag.Title = "BookHub";
    Layout = "~/Views/Shared/_MyLayoutMainPage.cshtml";
}

<link href="~/Content/main.css" rel="stylesheet" />
<div class="col-sm-12">
    <div class="col-sm-8">


        <section id="slider">
            <!--slider-->
           
                <div class="row">
               
                        <div id="slider-carousel1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#slider-carousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#slider-carousel1" data-slide-to="1"></li>
                                <li data-target="#slider-carousel1" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-4">
                                        <h1><span>B</span>ookHub</h1>
                                        <h2>All Types of Book Available</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <button type="button" class="btn btn-default get">Register Now</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="~/Content/images/home/girl1.jpg" class="girl img-responsive" alt="" />

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-sm-4">
                                        <h1><span>B</span>ookHub</h1>
                                        <h2>All Types of Book Available</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <button type="button" class="btn btn-default get">Register Now</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="~/Content/images/home/girl2.jpg" class="girl img-responsive" alt="" />

                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-sm-4">
                                        <h1><span>B</span>ookHub</h1>
                                        <h2>All Types of Book Available</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <button type="button" class="btn btn-default get">Register Now</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="~/Content/images/home/girl3.jpg" class="girl img-responsive" alt="" />

                                    </div>
                                </div>

                            </div>

                            <a href="#slider-carousel1" class="left control-carousel hidden-xs" data-slide="prev">
                                <i class="fa fa-chevron-circle-left"></i>
                            </a>
                            <a href="#slider-carousel1" class="right control-carousel hidden-xs" data-slide="next">
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>

                    </div>
                </div>
     
        </section><!--/slider-->
    </div>


    <div class="item">
        <div class="col-sm-4">


            <h2 style="text-align: center"><span>Q</span>uote of the day</h2>
            <h3 style="text-align:center" class="coffee-top">
                Never trust anyone <br>
                who has not<br>
                brought a <br>
                book<br>
                with them
            </h3>

        </div>

</div>


    </div>