﻿@model BookHub.Models.MailModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutAnyPage.cshtml";
}

<h2>Index</h2>
<fieldset>
<legend>
Send Mail    
</legend>
@using (Html.BeginForm())
 {
    @Html.AntiForgeryToken()
    <p>From:</p>
    <p>@Html.TextAreaFor(m=>m.From)</p>
    <p>To:</p>
    <p>@Html.TextAreaFor(m=>m.To)</p>
      <p>CC:</p>
    <p>@Html.TextAreaFor(m=>m.CC)</p>                                                                                                  
      <p>Bcc:</p>
    <p>@Html.TextAreaFor(m=>m.BCC)</p>
    
    <p>Subject:</p>
    <p>@Html.TextAreaFor(m=>m.Subject)</p>
    <p>Body:</p>
    <p>@Html.TextAreaFor(m=>m.Body)</p>
    
    
  }
    <p>@Html.ActionLink("Send","Index")</p>
</fieldset>
        
