﻿@model BookHub.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MyLayoutMainPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username)
                @Html.ValidationMessageFor(model => model.username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionID, "QuestionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuestionID", String.Empty)
                @Html.ValidationMessageFor(model => model.QuestionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.securityA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.securityA)
                @Html.ValidationMessageFor(model => model.securityA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
            @*<div class="col-md-10">
                @Html.TextBoxFor(m => m.Role, new { @class = "form-control" })
            </div>*@


            @*<div class="col-md-10">
                @Html.RadioButtonFor(m => m.Role, 1, true) Buyer
                @Html.RadioButtonFor(m => m.Role, 2) Seller
            </div>*@
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Role, 1, new { @checked = "checked" })@Html.Label("Buyer")
                @Html.RadioButtonFor(model => model.Role, 2)@Html.Label("Seller")

            </div>
        </div>


        <div class="form-group">
            @Html.Label("Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.Registered, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registered)
                @Html.ValidationMessageFor(model => model.Registered)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
