﻿@model BookHub.Models.User
@{
    ViewBag.Title = "BookHub";
}
@{
    ViewBag.Title = "New Admin";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("CreateAdmin", "Account", FormMethod.Post, new { @lass = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @*@Html.ValidationSummary()*@

    <div class="form-group">
       <b> @Html.LabelFor(m => m.username, new { @class = "col-md-2 control-label" })</b>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.username)
    </div>
<br />  <br />   <br />  
    <div class="form-group">
        @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.password, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.password)
    </div>
<br />
    @*<div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>*@
  <br />  

    <div class="form-group">
        @Html.LabelFor(m => m.QuestionID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("QuestionID", String.Empty)

        </div>
        @Html.ValidationMessageFor(model => model.QuestionID)
    </div>
<br />
  <br />  

    <div class="form-group">
        @Html.LabelFor(m => m.securityA, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.securityA, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.securityA)
    </div>
<br />
  <br />  
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" class="btn btn-default" value="Next" />
        </div>
    </div>
<br />
  <br />  

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Reset Form" name="btnReset" class="btn btn-default" />

        </div>
    </div>
}



