﻿
@{
    ViewBag.Title = "LogOut";
}

<h2>LogOut</h2>

@Html.BeginForm("LogOff","Account",FormMethod.Post)
{
  
 <div class="form-group col-sm-12">
    <div class="col-md-offset-4 col-md-8">
        @Html.Label("Are You Sure You Want To LogOut ?")
    </div>
</div> 

<div class="form-group col-sm-12">
    <div class="col-md-offset-4 col-md-8">
        <input type="submit" value="Yes" class="btn btn-success btn-lg" />
    </div>
</div>

}
<div class="form-group col-sm-12">
    <div class="col-md-offset-4 col-md-8">
        <a href="../Home/Index" class="btn btn-success btn-lg" > No </a>
    </div>
</div>