﻿@model BookHub.Models.User
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_MyLayoutMainPage.cshtml";
}

<h2>ForgetPassword</h2>
<div class="row">
    <div class="col-md-8">
<section id="loginForm">
    @using(Html.BeginForm("ForgetPassword","Account",FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>You Can Login By Answering Security Qusetion</h4>
         <hr />
        @Html.ValidationSummary(true)
         <div class="form-group">
                    @Html.LabelFor(m => m.username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.username)
                    </div>
                </div>
        
          <div class="form-group">
            @Html.LabelFor(model => model.QuestionID, "QuestionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuestionID", String.Empty)
                @Html.ValidationMessageFor(model => model.QuestionID)
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.securityA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.securityA, new { @class="form-cintrol"})<input type="checkbox"id="showPass"/>
                @Html.ValidationMessageFor(model => model.securityA)
            </div>
        </div>
 <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log In" class="btn btn-default" />
                    </div>
                </div>
     
    }

    </section>

    </div>
</div>

<script type="text/javascript">
    $(function () {

        $("#showPass").change(function () {
            var checked = $(this).is(":checked");
            if (checked) {
                $("#password").attr("type", "text");
            } else {
                $("#password").attr("type", "password");
            }
        });

    });
</script>