﻿@model BookHub.Models.User
@{
    ViewBag.Title = "BookHub";
    Layout = "~/Views/Shared/_MyLayoutMainPage.cshtml";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.username)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.PasswordFor(model => model.password, new { @class = "form-control" })
<input type="checkbox" id="showPass" />
                          @Html.ValidationMessageFor(m => m.password)
                        <p>
                            @Html.ActionLink("Forget?", "ForgetPassword", "Account")
                        </p>
                    </div>
                   


                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log In" class="btn btn-default" />
                    </div>
                </div>
                   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Reset Form" name="btnReset" class="btn btn-default" /> 
     
        </div>
    </div>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script type="text/javascript">
    $(function () {

        $("#showPass").change(function () {
            var checked = $(this).is(":checked");
            if (checked) {
                $("#password").attr("type", "text");
            } else {
                $("#password").attr("type", "password");
            }
        });

    });
</script>