﻿@model BookHub.Models.Admin
@{
    ViewBag.Title = "RegisAdmin";
    Layout = "~/Views/Shared/_MyLayoutAnyPage.cshtml";
}

<h2>Register</h2>




@using (Html.BeginForm("RegisAdmin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Admin Details</h4>
    <hr />
    @*@Html.ValidationSummary()*@
    
    <div class="form-group">
            @Html.Label("Image", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>
    

    <div class="form-group">
        @Html.LabelFor(m => m.fname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fname, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.fname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.lname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.lname, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.lname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.contact, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.contact, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.contact)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.addr, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.addr, new { @class = "form-control" })
        </div>@Html.ValidationMessageFor(model => model.addr)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.city)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.state)

        <div class="form-group">
            @Html.LabelFor(m => m.country, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.country, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.country)

        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" />
        </div> </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Reset Form" name="btnReset" class="btn btn-default" />

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






