﻿@model BookHub.Models.Buyer
@{
    ViewBag.Title = "RegisBuyer1";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("RegisBuyer", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Buyer Details</h4>
    <hr />
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.fname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fname, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.lname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.lname, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.contact, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.contact, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.contact)
    </div>
    
      <div class="form-group">
        @Html.LabelFor(m => m.addr, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.addr, new { @class = "form-control" })
        </div>
    </div>
    
    
       <div class="form-group">
        @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
        </div>
    </div>
           <div class="form-group">
               @Html.LabelFor(m => m.country, new { @class = "col-md-2 control-label" })
               <div class="col-md-10">
                   @Html.TextBoxFor(m => m.country, new { @class = "form-control" })
               </div>
           </div>

    
       <div class="form-group">
        @Html.LabelFor(m => m.Landmark, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Landmark, new { @class = "form-control" })
        </div>
    </div>
    
   




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" />
        </div>
    </div>
       
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Reset Form" name="btnReset" class="btn btn-default" /> 
     
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






