﻿@model BookHub.Models.User
@{
    ViewBag.Title = "ViewAccount";
    Layout = "~/Views/Shared/_MyLayoutAnyPage.cshtml";
}

<h2>ViewAccount</h2>

<div>
    @Html.DisplayNameFor(model => model.username)
    <br />
    @Html.DisplayFor(model => model.username)
</div>

