﻿@model BookHub.ViewModels.BuyerAndBookAndSellerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}




<link href="~/Content/main.css" rel="stylesheet" />

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
    message = null;
</script>


@{
    message = null;
    TempData["AlertMessage"] = null;
}


<section id="slider">
    <!--slider-->
    <div class="container">
       
@{
    int count = Model.SliderContents.Count();
    BookHub.DAL.MyContextClass db = new BookHub.DAL.MyContextClass();
    var SliderCon = db.SliderContents;
    if(count>0)
    { 
     <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">



                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>

                       @for(int i=1;i<count;i++)
                        {
                         <li data-target="#slider-carousel" data-slide-to="@i"></li>
                        }
                    </ol>

                    <div class="carousel-inner" >

                            <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>B</span>ook<span>H</span>ub <span>S</span>pecial <span>O</span>ffer</h1>
                                <h2>@SliderCon.First().SliderHeading</h2>
                                <p>@SliderCon.First().SliderSubHeading</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img width="300" height="260" src="~/SliderData?id=@SliderCon.First().SliderDatas.First(f => f.FileType == FileType.Photo).SliderDataId" alt="photo" />
                                <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                            </div>
                   
                   


                            @for (int j = 1; j < count;j++ )
                            {
                                var item = Model.SliderContents.ElementAt(j);
                                <div class="item">
                            <div class="col-sm-6">
                                <h1><span>B</span>ook<span>H</span>ub <span>S</span>pecial <span>O</span>ffer</h1>
                                <h2>@item.SliderHeading</h2>
                                <p>@item.SliderSubHeading</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img width="300" height="260" src="~/SliderData?id=@item.SliderDatas.First(f => f.FileType == FileType.Photo).SliderDataId" alt="photo" />
                                <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                            </div>
                                
                            }
                            
                            
                            
                            
               
                            


                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-chevron-circle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-chevron-circle-right"></i>
                    </a>
                </div>

            </div>
        </div>
}  
    
}
    
    </div>
</section>







<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Featured Items</h2>

@foreach(var item in Model.BookAndSellerMapDisplays)
{
    
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">


                      
                        <img src="~/File?id=@item.BookAndSellerMap.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />

                        <h2>Rs. @item.BookAndSellerMap.Price</h2>
                        <p>@item.BookAndSellerMap.Book.BookName</p>

                     
                          

                        @*<a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>*@
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>Rs. @item.BookAndSellerMap.Price</h2>
                            @*<p>@item.BookAndSellerMap.Book.BookName</p>*@
                            <p class="button">
                                @Html.ActionLink(@item.BookAndSellerMap.Book.BookName, "Details2",
               "Buyer", new { id = item.BookAndSellerMap.BookAndSellerMapID},"")
                            </p>

                            @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>*@
                            <p class="button">
                                @Html.ActionLink("Add to cart", "AddToCart",
               "ShoppingCart", new { id = item.BookAndSellerMapId }, "")
                            </p>
                            <p class="button">
                                @Html.ActionLink("Add to wishlist", "AddToWishList",
               "WishList", new { id = item.BookAndSellerMapId }, "")
                            </p>
                        </div>
                    </div>
                </div>
                @*<div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    
}



        

    </div><!--features_items-->
    </div>

   