﻿@model IEnumerable<BookHub.Models.OrderItem>

@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>MyOrder</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookAndSellerMap.Book.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAndSellerMap.Publication)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItemStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookAndSellerMap.Book.BookName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BookAndSellerMap.Publication)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderItemStatus)
        </td>
        
    </tr>
}

</table>
