﻿@model BookHub.Models.BookFormat

@{
    ViewBag.Title = "AddFormat";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>AddFormat</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BookFormat</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BookFormatName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookFormatName)
                @Html.ValidationMessageFor(model => model.BookFormatName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
