﻿@model BookHub.Models.Buyer
@{
    ViewBag.Title = "BEdit";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Seller</h4>
        <hr />
        @*@Html.ValidationSummary(true)*@


        <div class="form-group">
            @*@Html.LabelFor(model => model.User.isActive, "IsActive", new { @class = "control-label col-md-2" })*@
            @Html.HiddenFor(m => m.UserID)
            @Html.CheckBoxFor(model => model.User.isActive, new { @checked = "checked" })@Html.Label("Block")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "manageBuyer")
</div>

