﻿@model BookHub.Models.Language

@{
    ViewBag.Title = "Createlang";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>Createlang</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Language</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguageName)
                @Html.ValidationMessageFor(model => model.LanguageName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageOrigin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguageOrigin)
                @Html.ValidationMessageFor(model => model.LanguageOrigin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
