﻿@model BookHub.Models.SliderContent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SliderContent</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Image
        </dt>

        <dd>
            <img width="360" height="310" src="~/SliderData?id= @Model.SliderDatas.First(f => f.FileType == FileType.Photo).SliderDataId" alt="photo" />
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.SliderHeading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderHeading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderSubHeading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderSubHeading)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SliderContentId }) |
    @Html.ActionLink("Back to List", "ViewSlider")
</p>
