﻿@model BookHub.Models.Book

@{
    ViewBag.Title = "DetailsBook";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>DetailsBook</h2>

<div>
    <h4>Book</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookType.BookTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookType.BookTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBookCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBookCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eBookUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eBookUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBookStatus", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
