﻿@model IEnumerable<BookHub.Models.Book>

@{
    ViewBag.Title = "IndexAllBook";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>IndexAllBook</h2>

<p>
    @Html.ActionLink("Create New", "AddBook")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookType.BookTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBookCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eBookUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookType.BookTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBookCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eBookUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerificationStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBookStatus", new { id=item.BookID }) |
            @Html.ActionLink("Details", "DetailsBook", new { id = item.BookID })
           
        </td>
    </tr>
}

</table>
