﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>Index</h2>

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
    message = null;
</script>

@{
    message = null;
    TempData["AlertMessage"] = null;
}



@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div>*@


        <a href="../Account/CreateAdmin"><i class="fa fa-sign-in"></i> Register Another Administrator</a> <br/>
<a href="../Admin/SetSlider"><i class="fa fa-sign-in"></i> Set Slider Content</a> <br/>
<a href="../Admin/ViewSlider"><i class="fa fa-sign-in"></i> View/Edit Slider Content</a><br/>
    <a href="../Admin/Createlang"><i class="fa fa-sign-in"></i> addlanguage</a><br />
<a href="../Admin/AddFormat"><i class="fa fa-sign-in"></i>Add format </a><br />
<a href="../Admin/AddType"><i class="fa fa-sign-in"></i>Add Book Type </a><br />
<a href="../Admin/AddBook"><i class="fa fa-sign-in"></i>Add Book  </a>   <br />
  <a href="../Admin/manageBuyer"><i class="fa fa-sign-in"></i>Manage Buyer </a>   <br />
<a href="../Admin/manageSeller"><i class="fa fa-sign-in"></i>Manage Seller </a>  <br /> 
<a href="../Admin/IndexAllBook"><i class="fa fa-sign-in"></i> Review And Verify Book in Stock</a>  <br /> 
<a href="../Admin/Orderitems"><i class="fa fa-sign-in"></i>OrderItems details</a>  

    @*</div>*@



@*}*@

