﻿@model IEnumerable<BookHub.Models.Buyer>

@{
    ViewBag.Title = "manageBuyer";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>manageBuyer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
   
    <tr>
        
    
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landmark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landmark)
        </td>
        <td>
            @Html.ActionLink("Blockuser", "BEdit", new { id = item.BuyerID }) |
            @Html.ActionLink("Details", "BDetails", new { id=item.BuyerID }) |
            @Html.ActionLink("Delete", "BDelete", new { id=item.BuyerID })
        </td>
    </tr>
}

   
       

 
</table>
