﻿@model IEnumerable<BookHub.Models.OrderItem>

@{
    ViewBag.Title = "Orderitems";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>Orderitems</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookAndSellerMap.Publication)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItemStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookAndSellerMap.Publication)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderItemStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "OrderitemStatus", new { id = item.OrderItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderItemID })
        </td>
    </tr>
}

</table>
