﻿@model BookHub.Models.SliderContent

@{
    ViewBag.Title = "SetSlider";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}

<h2>SetSlider</h2>

@using (Html.BeginForm("SetSlider", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SliderContent</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SliderHeading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SliderHeading)
                @Html.ValidationMessageFor(model => model.SliderHeading)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SliderSubHeading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SliderSubHeading)
                @Html.ValidationMessageFor(model => model.SliderSubHeading)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Photo" name="upload" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
