﻿@model IEnumerable<BookHub.Models.SliderContent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutAdminPage.cshtml";
}




<h2>Slider Content</h2>


@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message); 
    message = null;
</script>


@{
    message = null;
    TempData["AlertMessage"] = null;
}


<p>
    @Html.ActionLink("Create New", "SetSlider")
</p>
<table class="table" style="border-top: 2px;">
    <tr>
        <th style="border-bottom:2px; border-bottom-color:black;">
          <b> HEADING </b>
        </th>
        <th>
         <b>  SUB-HEADING</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
            <b>  @Html.DisplayFor(modelItem => item.SliderHeading)</b>
            </td>
            <td>
                <b> @Html.DisplayFor(modelItem => item.SliderSubHeading) </b>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SliderContentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SliderContentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SliderContentId })
            </td>
            <td>
                <img width="250" height="250" src="~/SliderData?id= @item.SliderDatas.First(f => f.FileType == FileType.Photo).SliderDataId" alt="photo" />
            </td>
        </tr>
    }

</table>
