﻿
@{
    ViewBag.Title = "BookHub";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2></h2>
<link href="~/Content/sellerPage.css" rel="stylesheet" type="text/css" media="all" />
<script src="~/Content/js/easing.js"></script>
<script src="~/Content/js/jquery.chocolat.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="~/Content/js/jquery.min.js"></script>
<link href="~/Content/chocolat.css" rel="stylesheet" />



<!-- Custom Theme files -->

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->

<link rel="stylesheet" href="Content/chocolat.css" type="text/css" media="screen">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('.gallery-grids a').Chocolat();
    });
</script>
<script type="text/javascript" src="Scripts/move-top.js"></script>
<script type="text/javascript" src="Scripts/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>

<div>
    <div class="team" id="team">
        <div class="container">
            <div class="team-main">

                <ul class="ch-grid">
                    <li>
                        <a href="../BookForSeller/Create">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info">
                                    <h3>Introduce New Book</h3>
                                    <p>-a book we don't know about</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../BookForSeller/Index">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info">
                                    <h3>Books Added</h3>
                                    <p>-all books introduced to us</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../BookForSeller/Index2">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info">
                                    <h3>Stock</h3>
                                    <p>-View and update stock</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../BookForSeller/Create2">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info">
                                    <h3>Add Books for Sale</h3>
                                    <p>-Books which are recognized by us.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>



