﻿@model BookHub.Models.OrderItem

@{
    ViewBag.Title = "OrderStatus";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2>OrderStatus</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderItem</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderItemID)

       

        <div class="form-group">
            @Html.LabelFor(model => model.OrderItemStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderItemStatus)
                @Html.ValidationMessageFor(model => model.OrderItemStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
