﻿@model IEnumerable<BookHub.Models.OrderItem>

@{
    ViewBag.Title = "SOrder";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2>SOrder</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookAndSellerMap.Publication)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItemStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookAndSellerMap.Publication)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderItemStatus)
        </td>
        <td>
            @Html.ActionLink("Change Its Status", "OrderStatus", new { id=item.OrderItemID }) 
            
        </td>
    </tr>
}

</table>
