﻿@model BookHub.Models.BookAndSellerMap

@{
    ViewBag.Title = "Create2";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create2", "BookForSeller", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BookAndSellerMap</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BookID, "BookID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BookID", String.Empty)
                @Html.ValidationMessageFor(model => model.BookID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.SellerID, "SellerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SellerID", String.Empty)
                @Html.ValidationMessageFor(model => model.SellerID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Publication, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publication)
                @Html.ValidationMessageFor(model => model.Publication)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PageCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageCount)
                @Html.ValidationMessageFor(model => model.PageCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, "LanguageID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LanguageID", String.Empty)
                @Html.ValidationMessageFor(model => model.LanguageID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookFormatID, "BookFormatID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BookFormatID", String.Empty)
                @Html.ValidationMessageFor(model => model.BookFormatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edition)
                @Html.ValidationMessageFor(model => model.Edition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrintYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrintYear)
                @Html.ValidationMessageFor(model => model.PrintYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CopiesCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CopiesCount)
                @Html.ValidationMessageFor(model => model.CopiesCount)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.VerificationStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VerificationStatus)
                @Html.ValidationMessageFor(model => model.VerificationStatus)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount)
                @Html.ValidationMessageFor(model => model.Discount)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index2")
</div>
