﻿@model BookHub.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
  }

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BookName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookName)
                @Html.ValidationMessageFor(model => model.BookName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorName)
                @Html.ValidationMessageFor(model => model.AuthorName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookTypeID, "BookTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BookTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.BookTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.BookDescription)  
                @Html.ValidationMessageFor(model => model.BookDescription)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.AvgRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvgRating)
                @Html.ValidationMessageFor(model => model.AvgRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalBookCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalBookCount)
                @Html.ValidationMessageFor(model => model.TotalBookCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eBookUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eBookUrl)
                @Html.ValidationMessageFor(model => model.eBookUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerificationStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VerificationStatus)
                @Html.ValidationMessageFor(model => model.VerificationStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SellerID, "SellerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SellerID", String.Empty)
                @Html.ValidationMessageFor(model => model.SellerID)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
