﻿@model BookHub.Models.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookType.BookTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookType.BookTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBookCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBookCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eBookUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eBookUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
