﻿@model BookHub.Models.BookAndSellerMap

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookAndSellerMap</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                Image
            </dt>
            <dd>
                <img width="360" height="310" src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookFormat.BookFormatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookFormat.BookFormatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language.LanguageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopiesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopiesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookAndSellerMapID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
