﻿@model IEnumerable<BookHub.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}



<p>
    @Html.ActionLink("Add New Book", "Create")
</p>
<table class="table">
    <tr>
        
        @*<th>
            @Html.DisplayNameFor(model => model.Seller.fname)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BookDescription)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BookType.BookTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBookCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eBookUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.Seller.fname)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BookDescription)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.BookType.BookTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBookCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eBookUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerificationStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
