﻿@model IEnumerable<BookHub.Models.BookAndSellerMap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutSeller.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create2")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookFormat.BookFormatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language.LanguageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopiesCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookFormat.BookFormatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrintYear)
            </td>


            @if (item.CopiesCount < 5)
            {
                <td style="color:red">  @Html.DisplayFor(modelItem => item.CopiesCount) </td>
            }
            else
            {
                <td>  @Html.DisplayFor(modelItem => item.CopiesCount, new { @style = "color:red" }) </td>
            }


            <td>
                @Html.DisplayFor(modelItem => item.VerificationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookAndSellerMapID }) |
                @Html.ActionLink("Details", "Details2", new { id = item.BookAndSellerMapID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookAndSellerMapID })
            </td>
        </tr>
    }

</table>
