﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/contact.js"></script>
    <script src="~/Content/js/gmaps.js"></script>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/price-range.js"></script>
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/price-range.css" rel="stylesheet" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/jqueryTouchSlider.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />





    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>


    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +91 98 88 420 218</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@bookhub.com</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo pull-left">
                            <a href="../Seller/Index"><img src="../Content/images/home/bookhublogo.png" alt="" /></a>

                        </div>

                    </div>
                    <div class="col-sm-10">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (Session["Uname"] == null)
                                {
                                    <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                                }
                                @if (Session["Uname"] != null && Session["UFname"] == null)
                                {
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user"></i>

                                            @Html.Label("User")
                                        </a>
                                    </li>
                                }

                               @if (Session["Uname"] != null && Session["UFname"] != null)
{
    //BookHub.DAL.MyContextClass db = new BookHub.DAL.MyContextClass();
    //String SessUname = Session["Uname"].ToString();
    //var loggedin = db.Users.Where(u => u.username.Equals(SessUname)).FirstOrDefault();
    <li>
        <a href="../Account/ViewAccount">
            <i class="fa fa-user"></i>

            @*<img src="~/File?id=@loggedin.ProfilePics.First(f => f.FileType == FileType.Avatar).ProfilePicId" alt=" avatar" />*@

            @Html.Label(Convert.ToString(Session["UFname"]))
        </a>
    </li>
}
           
                                @if (Session["Uname"] == null)
                                {
                                    <li><a href="../Account/Login"><i class="fa fa-lock"></i> Login</a></li>
                                    <li><a href="../Account/Register"><i class="fa fa-sign-in"></i> Register</a></li>
                                }

                             

                                @if (Session["Uname"] != null)
                                { 
                                <li> <a href="../Seller/SOrder"><i class="fa fa-lock"></i>Ordereditems</a></li>
                                }
                                @if (Session["Uname"] != null)
                                {


                                    <li> <a href="../Stupid/DoneWithYou1"><i class="fa fa-lock"></i> Log Out</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="../Seller/Index">Home</a></li>
                               
                              
                                <li><a href="../Home/Contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />

    <div class="footer-bottom">

        <footer>
            <p>&copy; @DateTime.Now.Year - BookHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>