﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/contact.js"></script>
    <script src="~/Content/js/gmaps.js"></script>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/price-range.js"></script>
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/price-range.css" rel="stylesheet" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/jqueryTouchSlider.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>


    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +91 98 88 420 218</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>

                        </div>
                    </div>

                    @*<div id="social_nav_horizontal" class="col-sm-6">
                        <h6> Bookmark or Share This Post </h6>
                        <ul class="nav navbar-nav">
                           <li><a class="delicious" href="http://del.icio.us/post?url=Your website title" title="Bookmark on del.icio.us">Delicious</a>
                            <li><a class="facebook" href="http://www.facebook.com/sharer.php?u=http://yourwebsite.com" title="Share this on Facebook">Facebook</a></li>
                            <li><a class="stumbleupon" href="http://www.stumbleupon.com/submit? url=http://www.yoursite.com/" title="Stumble This Page"> Stumble</a></li>
                            <li><a class="twitter" href="http://twitter.com/home?status=Your Website Title- http://yourwebsite.com@TwitterUserName" title="Tweet This Page">Twitter</a></li>
                        </ul>
                    </div>*@

                  <div class="col-sm-6">
                            <div class="social-icons pull-right">
                                <ul class="nav navbar-nav">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo pull-left">
                            <a href="../Buyer/Index"><img src="../Content/images/home/bookhublogo.png" width="120" height="39" alt="" /></a>

                        </div>

                    </div>
                    <div class="col-sm-10">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (Session["Uname"] == null)
                                {
                                    @*<li><a href="#"><i class="fa fa-user" ></i> Account</a></li>*@
                                }
                                @if (Session["Uname"] != null && Session["UFname"] == null)
                                {
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user"></i>

                                            @Html.Label("User")
                                        </a>
                                    </li>
                                }
                                @if (Session["Uname"] != null && Session["UFname"] != null)
                                {
                                    <li>
                                        <a href="../Buyer/ProfileView">
                                            <i class="fa fa-user"></i>

                                            @Html.Label(Convert.ToString(Session["UFname"]))

                                            @*<div>
                                                    @if (Model.ProfilePics.Any(f => f.FileType == FileType.Avatar))
                                                    {

                                                            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />

                                                    }
                                                </div>*@
                                        </a>
                                    </li>
                                     <li><a href="../Account/ChangePassword"><i class="fa fa-star"></i>ChangePassword</a></li>
                                }

                                <li><a href="../WishList/Index"><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="../Buyer/MyOrder"><i class="fa fa-lock"></i>MyOrder</a></li>
                                @if (Session["Uname"] != null)
                                {

                                    <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>


                                }
                                @if (Session["Uname"] == null)
                                {
                                    <li><a href="../Account/Login"><i class="fa fa-lock"></i> Login</a></li>
                                    <li><a href="../Account/Create"><i class="fa fa-sign-in"></i> Register</a></li>
                                }

                                @if (Session["Uname"] != null)
                                {


                                    <li> <a href="../Stupid/DoneWithYou1"><i class="fa fa-lock"></i> Log Out</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="../Buyer/Index" class="active">Home</a></li>
                                <li class="dropdown">

                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="../Buyer/MyOrder">MyOrder</a></li>
                                        <li><a href="../ShoppingCart/Index">Cart</a></li>
                                       
                                    </ul>
                                </li>

                                <li><a href="../SendMailer/Index">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">

                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    <!--/slider-->


    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BookHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>