﻿
@{
    ViewBag.Title = "DeleteAll";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>Are You Sure You Want To Empty Your Cart? </h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="DeleteAll" class="btn btn-default" /> 
        @Html.ActionLink("Back to List", "Index")
    </div>
}
