﻿@model BookHub.ViewModels.Order1
@{
    ViewBag.Title = "DeliverHere";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}



<h3> Your Order Can be delivered at @Model.Address.addr, @Model.Address.city, @Model.Address.state, @Model.Address.country in 3-5 Business Days </h3>
<h3 style="color: #FE980F" >
    Select Payment method:
</h3>
@using (Html.BeginForm("PayNow", "ShoppingCart"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => Model.Address.addr)
        @Html.HiddenFor(model => model.Address.AddressID)
        @Html.HiddenFor(model => model.Address.Buyer)
        @Html.HiddenFor(model => model.Address.BuyerID)
        @Html.HiddenFor(model => model.Address.city)
        @Html.HiddenFor(model => model.Address.contact)
        @Html.HiddenFor(model => model.Address.country)
        @Html.HiddenFor(model => model.Address.fname)
        @Html.HiddenFor(model => model.Address.isDefault)
        @Html.HiddenFor(model => model.Address.Landmark)
        @Html.HiddenFor(model => model.Address.lname)
        @Html.HiddenFor(model => model.Address.state)
 



        @Html.HiddenFor(model => Model.Cart.Buyer)
        @Html.HiddenFor(model => Model.Cart.BuyerID)
        @Html.HiddenFor(model => Model.Cart.CartID)
        @Html.HiddenFor(model => Model.Cart.CartItems)
        @Html.HiddenFor(model => Model.Cart.CreatedOn)
        @Html.HiddenFor(model => Model.Cart.Total)

       

        @Html.HiddenFor(model => Model.PaymentOptions)
        <div class="form-group">


            <div class="col-md-10">

                <h4>

                    @foreach (var t in Model.PaymentOptions)
                    {
                        @Html.RadioButtonFor(model => Model.SelectedPayment, t.PaymentOptionID ) @t.PaymentOptionName

                        <br /> <br />
                    }
                </h4>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pay Now" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



