﻿@model BookHub.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}
                                   
<h2>Your Cart</h2>
<h3>
    @Html.ActionLink("Empty Cart", "DeleteAll", new { id = Model.Cart.CartID})
</h3>
<table class="table" style="border:inherit">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Author's Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Original Price
        </th>
        <th>
            Discount
        </th>
        <th>
            Price For You
        </th>
        <th>
            Image
        </th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>
                @item.BookAndSellerMap.Book.BookName
            </td>
            <td>
                @item.BookAndSellerMap.Book.AuthorName
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.BookAndSellerMap.Price
            </td>
            
            <td>
                @item.BookAndSellerMap.Discount
            </td>
            <td>
                @item.BookAndSellerMap.FinalPrice
            </td>
            <td>

                <img width="200" height="200" src="~/File?id=@item.BookAndSellerMap.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", new { id = item.CartItemID })
    
            </td>
        <td>
            <p class="button">
                @Html.ActionLink("Add to wishlist", "AddToWish", new { id = item.CartItemID })
            </p>
          
            </td>
        </tr>
        

    }

</table>


<br /><br />
<h2>
    Your Cart Total is: @Model.CartTotal
</h2>

@if(Model.CartTotal>0)
{ 
<h3>
    @Html.ActionLink("Proceed to Checkout", "CheckoutCart", new { id = Model.Cart.CartID })
</h3>
}