﻿@model BookHub.ViewModels.Order1
@{
    ViewBag.Title = "PayNow";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}







<h1>  Payment Page  </h1>


@using (Html.BeginForm("OrderPlacing", "ShoppingCart", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => Model.Address.addr)
        @Html.HiddenFor(model => model.Address.AddressID)
        @Html.HiddenFor(model => model.Address.Buyer)
        @Html.HiddenFor(model => model.Address.BuyerID)
        @Html.HiddenFor(model => model.Address.city)
        @Html.HiddenFor(model => model.Address.contact)
        @Html.HiddenFor(model => model.Address.country)
        @Html.HiddenFor(model => model.Address.fname)
        @Html.HiddenFor(model => model.Address.isDefault)
        @Html.HiddenFor(model => model.Address.Landmark)
        @Html.HiddenFor(model => model.Address.lname)
        @Html.HiddenFor(model => model.Address.state)




        @Html.HiddenFor(model => Model.Cart.Buyer)
        @Html.HiddenFor(model => Model.Cart.BuyerID)
        @Html.HiddenFor(model => Model.Cart.CartID)
        @Html.HiddenFor(model => Model.Cart.CartItems)
        @Html.HiddenFor(model => Model.Cart.CreatedOn)
        @Html.HiddenFor(model => Model.Cart.Total)

        @Html.HiddenFor(model => Model.SelectedPayment)


        <div class="form-group">
            <div class=" col-lg-1" style="height:100px"></div> 
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Done" class="btn btn-default" />
            </div>
        </div>
    </div>
}

