﻿@model IEnumerable<BookHub.Models.Address>

@{
    ViewBag.Title = "SelectAddress";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>SelectAddress</h2>

<p>
    @Html.ActionLink("Add a New Address", "AddAddress")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Buyer.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landmark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Buyer.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landmark)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAddress", new { id=item.AddressID }) 
            @Html.Label(" | ")
            
            @Html.ActionLink("Details", "Details", new { id=item.AddressID }) 
            
            @if(item.isDefault==false)
            { 
          string name="| ";
               @Html.Label(name) 
            @Html.ActionLink(" Delete", "DeleteAddress", new { id=item.AddressID })
                
            }
        </td>
        <td>
            @Html.ActionLink("Deliver To This Address", "DeliverHere", new { id= item.AddressID })
        </td>
    </tr>
}

</table>
