﻿
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>Congratulations! Your Order Has Been Placed Successfully!!! </h2>
<h4>
    Click <a href="../Buyer/Index">Here</a> To Shop More...
</h4>
