﻿@{
    ViewBag.Title = "LogOut";
}
@{
    Layout = "~/Views/Shared/_MyLayoutAnyPage.cshtml";
}
<center><h2>Are You Sure You want To Log Out?</h2></center>

<br /><br />
@using (Html.BeginForm("LogOff", "Stupid", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-sm-4"></div>
    <div class="form-group col-sm-4" style="align-content:center">

        <input type="submit" value="Yes" class="btn btn-success btn-lg" style="width: 400px;" />

    </div>
    <div class="col-sm-4"></div>
}
<br /><br /> <br /><br />
<div class="col-sm-4"></div>

<div class="form-group col-sm-4" style="align-content:center">

    <a href="../Home/Index" class="btn btn-success btn-lg" style="width: 280px"> No </a>

</div>

<div class="col-sm-4"></div>
<br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> 