﻿@{
    ViewBag.Title = "DeleteAll";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>DeleteAll</h2>


<h3>Are you sure you want to delete all?</h3>
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteAll" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>