﻿@model BookHub.Models.WishListItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WishListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookAndSellerMap.Book.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAndSellerMap.Book.BookName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookAndSellerMap.Book.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAndSellerMap.Book.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WishListID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishListID)
        </dd>

       


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
