﻿@model BookHub.ViewModels.WishListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutBuyerPage.cshtml";
}

<h2>Wishlist</h2>
<h3>
    @Html.ActionLink("Empty WishList", "DeleteAll", new { id = Model.WishList.WishListID })
</h3>


<table class="table" style="border:inherit">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Author's Name
        </th>
       
        <th>
            Original Price
        </th>
        <th>
            Discount
        </th>
       
        <th>
            Image
        </th>
    </tr>

    @foreach (var item in Model.WishListItems)
    {
        <tr>
            <td>
                @item.BookAndSellerMap.Book.BookName
            </td>
            <td>
                @item.BookAndSellerMap.Book.AuthorName
            </td>
            <td>
                @item.BookAndSellerMap.Price
            </td>
           
            <td>
                @item.BookAndSellerMap.Discount
            </td>
            <td>

                <img width="200" height="200" src="~/File?id=@item.BookAndSellerMap.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", new { id = item.WishListItemID })

            </td>

            <td>
             
                    @Html.ActionLink("Add to cart", "AddToCart", new { id = item.WishListItemID })
            

        
                </td>
        </tr>
  
    }

   
</table>




            




